[Unit]
Description=Goaccess
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/goaccess /var/log/apache2/access.log --log-format=COMBINED -o /var/www/html/report/index.html --real-time-html

[Install]
WantedBy=multi-user.target
